/* styles.css */

/* Add styles here to customize the appearance of your app */

body {
  background-color: #7cb0fe !important;
  justify-items: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#logo{
  width: 30%; 
  margin: 2rem;
}

.hidden {
  display: none;
}

h1 {
  cursor: pointer;
  user-select: none;
}

h1:hover {
  background-color: #000f7f;
  color: #ffffff;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s;

}

.down {
  transform: rotate(90deg);
}

#local {
  width: 100%;
  border-collapse: collapse;
}

/* Estilo para as células do cabeçalho */
#local th {
  background-color: #1569b8;
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  color: #FFFFFF;
}

/* Estilo para as células dos dados */
#local td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  background-color: #ffffff;
}

#local td:hover {
  background-color: #bcbcbc;
}

#dashboardConfig {
  width: 100%;
  border-collapse: collapse;
}

/* Estilo para as células do cabeçalho */
#dashboardConfig th {
  background-color: #370eaa;
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  color: #ffffff;
}

/* Estilo para as células dos dados */
#dashboardConfig td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  background-color: #ffffff;
}

#dashboardConfig td:hover {
  background-color: #bcbcbc;
}

#roip {
  width: 100%;
  border-collapse: collapse;
}

/* Estilo para as células do cabeçalho */
#roip th {
  background-color: #1b0067;
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  color: #ffffff;
}

/* Estilo para as células dos dados */
#roip td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  background-color: #ffffff;
}

#roip td:hover {
  background-color: #bcbcbc;
}

.tables-container {
  /* max-width: 95vw; */
  margin: 3rem;
  margin-top: 0;
}

.tables-container .row {
  display: flex;
  flex-wrap: wrap;
}

.tables-container .col {
  flex-grow: 1;
  /* margin: 1rem 0.5rem;  */
  /* min-width: 300px;  */
}