/* styles.css */

/* Add styles here to customize the appearance of your app */

body{
    background-color: #a1c5fa;
}

/* Estilo para a tabela */
#local {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Estilo para as células do cabeçalho */
  #local th {
    background-color: #1569b8;
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilo para as células dos dados */
  #local td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
  }
  
  #local td:hover {
    background-color: #bcbcbc;
  }

  #dashboardConfig {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Estilo para as células do cabeçalho */
  #dashboardConfig th {
    background-color: #370eaa;
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
    color: #ffffff;
  }
  
  /* Estilo para as células dos dados */
  #dashboardConfig td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
  }

  #dashboardConfig td:hover {
    background-color: #bcbcbc;
  }
  
  

  